<% @drinks.each do |drink| %>
  <div class="card drink-card">
    <%= image_tag drink.image_url, class: 'drink-card__img' %>
    <div class="drink-card__body">
      <h2><%= drink.name %></h2>
      <p><%= drink.description %></p>
    </div>
  </div>
<% end %>
<%= paginate @drinks, remote: true %>
